################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OMS/OMS/.vs/OMS/FileContentIndex/8bc8f4f9-ef67-478b-a173-13f50ea857dc.vsidx
